.flight-info {
  margin: 2px 0;
  position: relative;
  z-index: 0;
  &:hover {
    z-index: 1;
    box-shadow: 10px 5px 5px red;
  }
  &__terminal {
    color: #63c745;
    font-weight: 700;

    border-radius: 50%;
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 35px;
    font-size: 22px;
    &_A {
      color: #63c745;
      border: 1px solid #63c745;
    }
    &_D {
      color: #1eb7ee;
      border: 1px solid #1eb7ee;
    }
  }
  &__text {
    font-size: 18px;
    line-height: 40px;
    padding: 16px 10px;
    border: 0;
    // text-align: center;
  }
  &__logo {
    display: flex;
    align-items: center;
  }
  &__company-name {
    font-size: 16px;
    margin: 0;
  }
}
