.flight-info {
  margin: 2px 0;
  position: relative;
  z-index: 0;
  &:hover {
    z-index: 1;
    box-shadow: 1px 1px 1px rgb(69, 67, 67);
  }
  &__terminal {
    font-weight: 700;
    border-radius: 50%;
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 35px;
    font-size: 22px;
    &_A {
      color: $terminal-a-color;
      border: 1px solid $terminal-a-color;
    }
    &_D {
      color: $terminal-a-color;
      border: 1px solid $terminal-a-color;
    }
  }
  &__text {
    font-size: 18px;
    line-height: 40px;
    padding: 16px 10px;
    border: 0;
  }
  &__logo {
    display: flex;
    align-items: center;
  }
  &__company-name {
    font-size: 16px;
    margin: 0;
  }
}
