@import './variables.scss';
@import 'https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap';
@import './calendar.scss';
@import './search.scss';
@import './mode.scss';
@import './dshboard.scss';
@import './flight_info.scss';
@import './not_found.scss';
* {
  box-sizing: border-box;
  &:focus {
    outline: none;
  }
}
body {
  height: 100vh;
}
a {
  text-decoration: none;
}

img {
  height: 40px;
}
