.flights-navigation {
  display: flex;
  margin-top: 40px;
  &__item {
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    list-style: none;
    cursor: pointer;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0;
    border: 0;
    position: relative;
    font-weight: 600;
    border-radius: 0 60px 0 0;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    outline: none;
    background: $light-blue;
    overflow: hidden;
    font-size: 24px;
    line-height: 60px;
    color: $light-background;
    &:hover {
      background-color:$dark-blue ;
    }
    &_active {
      color: $dark-blue;
      background-color: $light-background;
      &:hover {
        background-color: $light-background;
      }
    }

    & a {
      color: inherit;
    }
  }
}
.active-icon {
  fill: $dark-blue;
}
