.no-flights-page {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 300px;

  &__text {
    text-transform: capitalize;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 700;
  }
}
