.search-flights {
  background: #e7efec;
  font-family: 'Open Sans', sans-serif;
  padding: 40px 0 20px;
  &__container {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 1140px;
    padding: 0 10px;
  }
  &__form {
    position: absolute;
  }
  &__icon-container {
    // top: 25%;
    position: absolute;
    // display: inline-flex;
    // justify-content: center;
    // align-items: center;

    background-color: white;
    // margin-top: -12.5px;
  }
  &__title {
    margin: 0;
    font-size: 70px;
    font-weight: 300;
    font-stretch: 100%;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 8px;
  }
  &__search-picture {
    position: relative;
    top: 21px;
    left: 21px;
    width: 44px;
    height: 43px;
  }
  &__input {
    height: 80px;
    font-size: 24px;
    border: none;
    width: 450px;
    padding-left: 70px;
  }
  &__button {
    height: 80px;
    width: 200px;
    font-size: 26px;
    background: #1eb7ee;
    font-weight: 700;
    border: none;
    border-top-right-radius: 80px;
    text-transform: uppercase;
    color: white;
    padding: 0 20px;
    transition-property: border-top-right-radius;
    transition-duration: 0.5s;
    &:hover {
      border-top-right-radius: 40px;
    }
  }
}
