@import 'https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap';
* {
  box-sizing: border-box;
  &:focus {
    outline: none;
  }
}

.search-flights {
  background: #e7efec;
  font-family: 'Open Sans', sans-serif;
  padding: 40px 0 20px;
  &__container {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 1140px;
    padding: 0 10px;
  }
  &__title {
    margin: 0;
    font-size: 70px;
    font-weight: 300;
    font-stretch: 100%;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 8px;
  }
  &__search-picture {
    width: 44px;
    height: 43px;
  }
  &__input {
    height: 80px;
    font-size: 24px;
    border: none;
    width: 450px;
  }
  &__button {
    height: 80px;
    width: 200px;
    font-size: 26px;
    background: #1eb7ee;
    font-weight: 700;
    border: none;
    border-top-right-radius: 80px;
    text-transform: uppercase;
    color: white;
    padding: 0 20px;
    transition-property: border-top-right-radius;
    transition-duration: 0.5s;
    &:hover {
      border-top-right-radius: 40px;
    }
  }
}

.flights-navigation {
  display: flex;
  margin-top: 40px;
  &__item {
    text-transform: uppercase;
    text-decoration: none;
    list-style: none;
    cursor: pointer;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0;
    border: 0;
    position: relative;
    font-weight: 600;
    border-radius: 0 60px 0 0;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    outline: none;
    background: #73d2f0;
    overflow: hidden;
    font-size: 24px;
    line-height: 60px;
    color: #fff;
  }
}
.flights-table {
  border-collapse: collapse;
  & tr:nth-child(even) {
    background-color: #fff;
  }
  &__head {
    font-family: 'Open Sans', sans-serif;
    padding: 12px;
    color: #95989a;
    font-weight: 600;
    font-size: 16px;
    text-align: left;
  }
  &__row {
    height: 72px;
  }
}
.flight-info {
  margin: 2px 0;
  &:hover {
    box-shadow: 10px 5px 5px red;
  }
  &__terminal {
    color: #63c745;
    font-weight: 700;
    border: 1px solid #63c745;
    border-radius: 50%;
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 35px;
    font-size: 22px;
  }
  &__text {
    font-size: 18px;
    line-height: 40px;
    padding: 16px 10px;
    border: 0;
    // text-align: center;
  }
  &__logo {
    display: flex;
    align-items: center;
  }
  &__company-name {
    font-size: 16px;
    margin: 0;
  }
}
img {
  height: 40px;
}
