@import 'https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap';
* {
  box-sizing: border-box;
  &:focus {
    outline: none;
  }
}

.search-flights {
  background: #e7efec;
  font-family: 'Open Sans', sans-serif;
  padding: 40px 0 20px;
  &__container {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 1140px;
    padding: 0 10px;
  }
  &__title {
    margin: 0;
    font-size: 70px;
    font-weight: 300;
    font-stretch: 100%;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 8px;
  }
  &__search-picture {
    width: 44px;
    height: 43px;
  }
  &__input {
    height: 80px;
    font-size: 24px;
    border: none;
    width: 450px;
  }
  &__button {
    height: 80px;
    width: 200px;
    font-size: 26px;
    background: #1eb7ee;
    border: none;
    border-top-right-radius: 80px;
    text-transform: uppercase;
    color: white;
    padding: 0 20px;
    transition-property: border-top-right-radius;
    transition-duration: 0.5s;
    &:hover {
      border-top-right-radius: 40px;
    }
  }
}
.table-head {
  font-family: 'Open Sans', sans-serif;
  padding: 12px;
  color: #95989a;
  font-weight: 600;
  font-size: 16px;
}
